.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    position: relative;
    text-align: center;
}
.mySlides img {
    width: 100%; /* Garante que a largura se ajuste ao contêiner */
    height: 500px; /* Define uma altura fixa */
    object-fit: cover; /* Recorta a imagem para preencher sem distorcer */
    display: block; /* Remove espaçamentos indesejados */
}
.mySlides .title {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}


.prev, .next {
    transform: translateY(-50%);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

.prev{
    left: -40px;
}

.next{
    right: -40px;
    border-radius: 3px 0 0 3px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url('../MEDIA/TGA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 20px;
}

main {
    background-color: rgba(0, 0, 0, 0.801);
    margin: 0 auto;
    padding: 10 10 40;
}

.text {
    max-width: 1000;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: goldenrod;
}